// Colors //
$pale-yellow: rgb(255, 246, 197);
$vivid-yellow: rgb(255, 230, 0);
$green: rgb(8, 168, 8);

// Fonts //
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: $pale-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    width: 100%;
    height: 20%;
    text-align: center;
    color: $green;
    font-family: "Righteous", cursive;
  }

  #gameBoard {
    width: 460px;
    height: 460px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .grid {
      width: 150px;
      height: 150px;
      background-color: white;
    }

    .x {
      background-color: $vivid-yellow;
    }

    .o {
      background-color: $green;
    }
  }
}
